*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.color{
      color: #FD6E0A;
}
.logo h2{
          font: 45px;
          font-weight: 900;
}


header{
    background-color: #edd0bb;
}

.button{
    background-color: #FD6E0A;
    padding: 18px 23px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: bolder;
    color: white;
  
}
nav{
    width: 67%;
    max-width: 1140px;
    border: 1px solid red;
    margin: 0px auto;
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
nav .MENU{
    display: flex;
    gap: 51px;
    list-style-type: none;
    align-items: center;
}

nav .MENU a{
    text-decoration: none;
}